@font-face {
  font-family: 'Bazzi';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/* nanumsquare */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
/* min-height: 100vh; */
/* font-size: calc(10px + 2vmin); */
