@font-face {
  font-family: 'Bazzi';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  --main-yellow: #ffeb3b;
  --logo-yellow: #fae316;
  --light-yellow: #ffff72;
  --dark-yellow: #f5e131;
  --box-shoadow: #bdbdbd;
  --hover-box-shadow: #a1a1a1;
  --main-navy: #37474f;
  --light-navy: #62727b;
  --dark-navy: #102027;
  --light-gray: rgb(240, 240, 240);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* transition: all 0.2s ease-in-out; */
  color: var(--main-navy);
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
/* min-height: 100vh; */
/* font-size: calc(10px + 2vmin); */
