@font-face {
  font-family: 'Bazzi';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  --main-yellow: #FFEB3B;
  --logo-yellow: #fae316;
  --light-yellow: #ffff72;
  --dark-yellow: #c8b900;
  --main-navy: #37474f;
  --light-navy: #62727b;
  --dark-navy: #102027;
  --light-gray: rgb(240, 240, 240);

  box-sizing: border-box;
  margin: 0; padding: 0;
  /* transition: all 0.2s ease-in-out; */
  color: var(--main-navy);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
